
body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#333;
    font-size: 1.2rem;
    line-height: 1.5em;
    background-image: url("https://i.imgur.com/4el2ROs.jpg");
    background-size: cover;
    background-position: unset;
    
}
header{
    margin-left: auto; 
}
header ::after{
    content: "";
    display: table;
    clear: both;       
}  

/* propiedades del contenedor de la barra de navegacion */
.contenedor{
    width: 75%;
    margin: 0 auto;
}

/* propiedades del Logo del header */
.logo{
    float: right;
    margin-right: 1.5em;
    padding: 10px 0;
    width: 5%;
}

/* propiedades de todos los NAV */
nav{
    display: flex;
    background-size:cover;
    justify-content: flex-end;
}
nav li{
    display: inline-block;
    margin-left: 25px;
    padding-top: 25px;   
}
nav a{
    color: rgb(94, 90, 90);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;   
}
nav a:hover{
    color:cyan
}

/* propiedades del H1 */
h1{
    font-size: 2rem;
    line-height: 1.3em;   
}
.Pmayu::first-letter{
    display:block;
    margin:5px 0 0 5px;
    float:left;
    color:#9e36ac;
    font-size:60px;
    font-family:Georgia;
}

/* imagen de fondo de la seccion Que Hacemos */
#QueHacemos{
    height: 100%;
    width: 75%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

/* Propiedadesde Nosotros */
#Nosotros{
    background-position: center;
    background-size: cover;      
}
.NosP a:active{
    position: relative;
    top: 1px;
}
/* propiedades de la seccion de Parrafos */
/* inicio de GRID */
.seccionParrafos{
    width: 75%;
    display: grid;
    grid-row: auto auto auto;
}
.seccionParrafos div{
    border: 1px solid #fff;   
}
.parrafo1{
    grid-row: 1;
    border: 1px solid #fff; 
}
.parrafo2{
    grid-row: 2;
    border: 1px solid #fff;
}
.parrafo3{
    grid-row: 3;
    border: 1px solid #fff;
}
.parrafo4{
    grid-row: 4;
    border: 1px solid #fff;   
}

/* propiedades del video de la APP XDOC */
.video{
    grid-row: 1 / 5 ;
    border: 1px solid #fff;
    margin-left: 75%;
}
/* Fin de GRID */

/* propiedades del footer */
footer{
    background-image: url("https://i.imgur.com/Hc75itg.jpg");
    background-size: cover;
    background-position: left;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    color: rgb(242, 224, 224);
    position: relative;
    z-index: 10;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;  
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    position: relative;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

/* Propiedades de Redes sociales */
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}

/* propiedades de la ultima seccion del footer donde estan 
los derechos reservados */
.footer-bottom{ 
    width: 100vw;
    padding: 20px 0;
    text-align: center; 
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    font-weight: 200;  
}
.wsapp{
    bottom: 1vw;
    right: 2vw;
    width: 4vw;
    position: fixed;
}

/* Aplicando Media Querys luego BORRAR cuando tenga Exp. voy a usar esta magia */
/* Se que esto es una fumeta cosmica en mi codigo 
y mi pagina se convierte en una lechuga verde 
pero no estara aqui mas que una clase entendi el concepto*/
@media (max-width:600px){
    #QueHacemos{
        background-image: url(https://i.imgur.com/wk9rTPl.jpg);
    }
}